<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929980563028-4d7s78ekh60mv2u2ch1p0vft20m7m8n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929980563028-4d7s78ekh60mv2u2ch1p0vft20m7m8n7</string>
	<key>API_KEY</key>
	<string>AIzaSyBLFvr4QkmwCptV5QcsSy4yH7PyQ0O5UqE</string>
	<key>GCM_SENDER_ID</key>
	<string>929980563028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Menia.VIBES-1-0</string>
	<key>PROJECT_ID</key>
	<string>vibesapp-c9070</string>
	<key>STORAGE_BUCKET</key>
	<string>vibesapp-c9070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929980563028:ios:a309dcfce9719cccd5b7c1</string>
</dict>
</plist>